.skin-lannister {

    // Theme Colors :
    $ls-color-theme: #3B4350;

    //HEADER SECTION
    $header-bg-color: $ls-color-theme;
    $header-font-color: $ls-color-black;
    $header-buttons-bg-color: $white;
    $header-buttons-bg-color--hover: darken($white, 5%);
    $header-buttons-font-color: $ls-color-black;

    //SIDEBAR SECTION
    $sidebar-bg-color: $white;
    $sidebar-font-color: $ls-color-black;
    $sidemenu-item-bg-color--hover: darken($ls-color-gray--light, 5%);
    $sidemenu-item-bg-color--active: transparent;
    $sidemenu-item-font-color: $ls-color-black;
    $sidemenu-item-font-color--active: $ls-color-theme;
    $sidemenu-arrow-color: $ls-color-gray--very-dark;
    $sidemenu-submenu-bg: $ls-color-gray--light;

    //Horizontal Menu
    $header-bottom-bg: $white;
    $header-menu-item-font-color: $ls-color-black;
    $header-menu-item-font-color--active: $ls-color-theme;
    $header-menu-item-bg-color--hover: darken($ls-color-gray--light, 5%);
    $header-menu-item-bg-color--active: transparent;

    //DROPDOWN
    $dropdown-bg: $white;
    $dropdown-border-color: $ls-color-gray--very-dark;
    $dropdown-divider-bg: $ls-color-gray--very-dark;
    $dropdown-header-color: $ls-color-theme;
    $dropdown-header-border-color: $ls-color-gray--very-dark;

    //MISC
    $code-bg: $ls-color-gray--light;
    $code-color: $ls-color-theme;

    background-color: #EDF0F5;

    //HEADER
    .site-header {
        background-color: $header-bg-color;
        border-bottom: 1px solid rgba(230, 230, 230, 0.7);

        .nav-toggle {
            background-color: $header-buttons-bg-color;
            color: $header-buttons-font-color;
        }
        .hamburger span {
            background: $header-buttons-font-color;
        }

        .hamburger span::before,
        .hamburger span::after {
            background-color: $header-buttons-font-color;
        }

        .action-list li {
            a {
                background-color: $header-buttons-bg-color;
                color: $header-buttons-font-color;
            }

            a:hover {
                background-color: $header-buttons-bg-color--hover;
                color: $header-buttons-font-color;
            }
        }

        .dropdown-menu {
            background-color: $white;
        }

        .notification-dropdown {

            .dropdown-header {
                border-bottom: 1px solid $dropdown-header-border-color;
                color: $dropdown-header-color;
            }
        }

        .dropdown-divider {
            background-color: $dropdown-divider-bg;
        }
    }

    //SIDEBAR/NAV

    .sidebar-left {
        background-color: $sidebar-bg-color;

    }

    .side-nav li {
        a {
            color: $sidemenu-item-font-color;

            &:hover {
                background-color: $sidemenu-item-bg-color--hover;
            }
        }

        &.active > a {
            color: $sidemenu-item-font-color--active;
        }

        &.has-child > a::before {
            border-color: $sidemenu-arrow-color transparent transparent;
        }

        ul {
            background-color: $sidemenu-submenu-bg;
        }

        li.active > a {
            background-color: $sidemenu-item-bg-color--active;
        }
    }

    //Horizontal Layout

    .header-bottom {
        background-color: $header-bottom-bg;
        border-bottom: 1px solid $ls-color-gray--dark;
    }

    .header-nav {

        li a {
            color: $header-menu-item-font-color;

            &:hover {
                background-color: $header-menu-item-bg-color--hover;
                color: $header-menu-item-font-color;
            }
        }

        li.active > a {
            color: $header-menu-item-font-color--active;
            background-color: $header-menu-item-bg-color--active;

            &:hover {
                color: $header-menu-item-font-color--active;
                background-color: $header-menu-item-bg-color--active;
            }
        }

        li .dropdown-item.active{
            color: $header-menu-item-font-color--active;
            background-color: $header-menu-item-bg-color--active;

            &:hover, &:focus, &:active {
                color: $header-menu-item-font-color--active;
                background-color: $header-menu-item-bg-color--hover;
            }
        }

    }

    //Tabs

    .tabs-default {

        .nav-link.active {
            background-color: $ls-color-theme;
            color: $white;

            &:hover, &:active, &:focus {
                background-color: $ls-color-theme;
                color: $white;
            }
        }

        .nav-link:hover {
            border: 1px solid $ls-color-theme;
        }

        .nav-tabs {
            border-bottom: 1px solid $ls-color-theme;
        }
    }

    .tabs-simple {

        .nav-link {
            background-color: transparent;
            color: $ls-color-black--light;

            &:hover, &:active, &:focus {
                border-bottom: 3px solid $ls-color-theme;
                border-color: lighten($ls-color-theme, 30%);
            }

            &.active {
                background-color: transparent;
                border-bottom: 3px solid $ls-color-theme;
                color: $ls-color-black;

                &:hover, &:active, &:focus {
                    border-bottom: 3px solid $ls-color-theme;
                    border-color: $ls-color-theme;
                    color: $ls-color-black;
                }
            }
        }

    }

    .tabs-vertical .nav-tabs {
        border-color: $ls-color-theme;
        li a {
            background-color: $white;
            border-color: transparent;
            border-right-color: $ls-color-theme;

            &:hover, &:active, &:focus {
                background-color: $white;
                border-color: $ls-color-theme;
            }

            &.active {
                background-color: $ls-color-theme;
                color: $white;

                &:hover, &:active, &:focus {
                    background-color: $ls-color-theme;
                    color: $white;
                }
            }
        }
    }

    .tabs-vertical.tabs-simple .nav-tabs {
        border-right: 1px solid #ddd;

        li {
            margin: 0;
        }

        li a {
            background: transparent;
            border-right: 3px solid transparent;
            border-radius: 0;

            &.active {
                border-bottom: 0;
                color: $ls-color-black;
                border-right: 3px solid $ls-color-theme;
                background: transparent;
            }

            &:hover, &:active, &:focus {
                background-color: transparent;
                border-right: 3px solid $ls-color-theme;
                border-bottom: 0;
            }
        }
    }

    //MISC
    code, .code {
        background-color: $code-bg;
        color: $code-color;
    }

    mark, .mark {
        background-color: $ls-color-theme;
        color: $white;
    }

    .todo-container {

        h5 {
            color: $white !important;
        }

        background-color: $ls-color-theme !important;
        color: $white !important;
    }

    //Dropdown
    .dropdown-menu {
        background-color: $dropdown-bg;
        border: 1px solid $dropdown-border-color;
        color: $white;

        .dropdown-header {
            border-bottom: 1px solid $dropdown-header-border-color;
            color: $dropdown-header-color;
        }

        a:hover {
            background-color: $header-buttons-bg-color--hover;
            color: $header-buttons-font-color;
        }
    }

    //Buttons
    .btn-theme {
        @include button-variant($white, $ls-color-theme, $ls-color-theme);
    }

    .btn-theme-outline {
        @include button-outline-variant($ls-color-theme);
    }

    //Forms
    //Forms

    .form-control:focus {
        border: 1px solid $ls-color-theme;
    }

    //SELECT 2
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: $ls-color-theme;
        color: $white;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: $ls-color-theme;
        color: $white;
    }

    .select2-container--default .select2-dropdown {
        border: solid $ls-color-theme 1px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection {
        border: 1px solid $ls-color-theme;
        border-bottom-color: transparent;
    }

    .select2-container--default .select2-dropdown--below {
        border-top-color: transparent;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: $white;
    }

    //Bootstrap SELECT
    .bootstrap-select .dropdown-menu a {
        color: $header-buttons-font-color;

        &:hover,
        &:active,
        &:focus {
            background-color: $header-buttons-bg-color--hover;
        }
    }

    //DATEPICKER
    .datepicker-dropdown {
        color: $body-color;
        background-color: $white;
        border: 1px solid rgba(0, 0, 0, .15);
    }

    //FORM WIZARDS
    .form-wizard-1 > .steps{

        .current a,
        .current a:active ,
        .current a:hover {
            background-color: $ls-color-theme;
            color: $white;
        }

        .done a,
        .done a:active,
        .done a:hover {
            background: lighten($ls-color-theme, 30%);
            color: $white;
        }
    }

    .form-wizard-2 {

        > .steps > ul {
            .current .number,
            .done .number {
                border: 2px solid $ls-color-theme;
            }

            .done .number {
                background: $ls-color-theme;
                color: $white;
            }

            .current:before,
            .current:after,
            .done:after,
            .done:before {
                background: $ls-color-theme;
            }

            .current.last.done:after {
                background: $ls-color-theme !important;
            }
        }

        &.icon-wizard > .steps > ul {

            .current i,
            .done i {
                border: 2px solid $ls-color-theme;
            }

            .done i {
                background: $ls-color-theme;
                color: $white;
            }
        }

        &.vertical-wizard {

            .steps > ul {

                .done:after {
                    background: $ls-color-theme !important;
                }
            }

        }
    }

    .form-wizard-3 > .steps > ul{

        .current a{
            border-bottom: 3px solid $ls-color-theme;
            color: $ls-color-black;
        }

        .done a{
            border-bottom: 2px solid lighten($ls-color-theme, 30%);
            color: $ls-color-black;
        }
    }

    @include media-breakpoint-down(sm) {
        .header-nav .dropdown-menu {
            border: 0 !important;
            background-color: $sidemenu-submenu-bg !important;
        }
    }

}






