.btn-bitcoin{
    background-image: url(../../../admin/img/logo-bitcoin.png);
    background-repeat: no-repeat;
    background-color: #ec5b14;
    border-color: #ec5b14;
    width: 104px;
    height: 38px;
    background-position: center;
    margin: 20px 0;
}
.btn-bitcoin:hover{
    background-color: #ec8321;
    border-color: #ec8321;
}

.btn-pago-normal{
    margin: 20px 0;
}