.tabla-pago-container{
    color: #000;
}
.thead-pago{
    background-color: #eff3f6;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}
.thead-pago th{
    color: #000000;
}

.tbody-pago td{
    vertical-align: middle;
}

.tbody-pago td h4{
    margin: 0;
}

.nota{
    margin: 10px 0;
    color: #fff;
}

.backtoplans{
    background-color: #4d4c4c;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
}
.backtoplans:hover{
    background-color: #696767;
}
.backtoplans a{
    color: #ffde00;
}