.page-signals #userSignals{
    width: 1290px !important;
    max-width: 1290px !important;
}
@media (min-width: 1300px) {
    .page-signals #userSignals{
        width: 100% !important;
        max-width: 100% !important;
    }
}

.page-signals #adminSignals{
    width: 1290px !important;
    max-width: 1290px !important;
}
@media (min-width: 1300px) {
    .page-signals #adminSignals{
        width: 100% !important;
        max-width: 100% !important;
    }
}


.page-signals #userSignals tr.up{
	background-color: #C7FECF;
}

.page-signals .table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    text-align: center;
}

.page-signals .table td {
    text-align: center;
}

.page-signals .table td .dropdown-toggle{
    padding: 0;
}

.page-signals .table-hover tbody tr:hover {
    background-color: rgba(79, 196, 127, 0.34);
}

.page-signals .btn-outline-info .inputImage{
	width: 0px;
}

.page-signals .btn-delete, .page-signals .frm-upload{
	display: inline-block;
	vertical-align: top;
}
.page-signals .btn-delete, 
.page-signals .btn-delete-signal,
.page-signals .btn-upload-image{
	cursor: pointer;
}

.page-signals input[type="file"] {
    display: none;
}
.page-signals .custom-file-upload {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.page-signals .cancel {
    display: inline-block;
}

.page-signals .custom-file,
.page-signals .custom-upload{
	display: inline-block;
}

.page-signals .custom-file{
	width: 172px;
	padding-right: 0px;
}

.page-signals .custom-upload{
    width: 85px;
    padding: 0;
}

.page-signals .container-new-signal{
    margin-bottom: 20px;
}

.page-signals .dropdown-coin-td .dropdown-menu{
    background: rgb(255, 255, 255);
    color: rgb(33, 37, 41);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 30px;
    border-color: rgb(239, 243, 246);   
}

.page-signals .dropdown-coin-td .dropdown-menu .dropdown-item{
    color: #212529;
    border-bottom: 1px solid #e0e0e0;
}

.page-signals .dropdown-coin-td .dropdown-menu .dropdown-item:last-child{
    border-bottom: none;
}

.page-signals .up{
  color: #3d9400;
}

.page-signals .down {
    color: #A11B0A;
}

.page-signals .unchanged {
    color: #2d4f79;
}